notifications:
  email: false
sudo: enabled
os: linux
language: python
python: 3.7-dev
cache: pip
env:
  global:
    - GH_REPO=Drakkar-Software/OctoBot-Evaluators
    - DEPLOY_BRANCH=master
    - PACKAGE_FOLDER=octobot_evaluators
    - secure: JTbzCJ3CynlSJSFNkLNspASVEszBDy1BwkRym6IvVehE5SDM3wDanWwAD9t3ZjOJMt7H0pUojXwmVlg32tOOZbZ8pZIIFaMy2JlcQ7iPpAQE2TW5LEEtVbXZgSU2Siqq1nHCL3aH1ZxvYtRzofEhyBtpEXwPwI39C2e3/XfFqEyP8a1nlDYLmQKIEyUIGIAQ2DJmqroS9YgkVE6e+oeyCY6bcp95b2XRRAGF4YzRmhOJtqNjXz1OG5ME7h/KOLrmHe0Fu5j38etL8gjfYAXSrL41jO0a7PjfrVgHBjuoACwUjQ8yU0OHE4JhOeAwBR5k5lrtKGNrkZM5JbOnR9YHR7xBKG8mwRCI2juaSVeOFo8vNNMqVE7PDOJtT6RLBAFgli81Npfjk9RMctY9BDIKK2v5O3cB6NF6KXdJJTKudN2wrqCiUdQveTyWO/eK7M9NevVgoGDwx8WdtJ5sQwkb3vHJo3TH/+O1cInahbAi/rIIoIL4d1naJFQLmN2/upP3Is+U+fFB3mYsYpHa8TeRPtf94SrqszPIVFgRahcClcSvtBIj3Ft492/C2kBPBFaO2RdtoBlPXkJac16yZ88hbuCMfr0fVdKHV1CKEqCwWFeaUOR685EqYb8GBIR89LPzsdx0+NJpCk10GNxgXT4o95Qd6e/ni+kO/nlgzxJ6Gco=
    - secure: VkXsqKTZAhfn6r6YlVZ3bOZjtnA5iOHGMioNTSMzowjikx8/rxGrgifzTVaos7we7Z5LOfx6shnkyyaaHuEJQrCIji+Qb1t3mayXM2YIIWhhQCJX1pcl+kIvx0A/fQ8twHSDhpT1KNtWqSg0ohbz5cBqziqyWjnOS33pH2Cbr1g/Pcb3BjI2y10rfCJjtUO3PB0RUehrt8qzEh5bEPvUWfd+j9Jk2t8ciw6CjfXmastd/thA6TxuD9lSqiWKxBfPeUTiRjeTGROO6BJPxU8e/9rlIO4AWs76zbe7yBsSTtPhVfnlabQwH8dMA5g9AaSpHFTNHzgwzpT2XrY/0Cxy+mYJJDpwDLUb7lDj2n4HdPxeWLQVtqy6+hT69p6rs+b4QVD4kKkDnKodmtFyTaz56+hkleXpmghfkm/pcoBcmQg2I07ETZuvoG4u1xFFiyPwlqH+2kJGHBYameVG/XLbZiq7FTKvsd7U482/SDp80HQtadgUYmBWZxlv5xdSxykgnTHz4OKOyGIEW4xGH6zsK2mu1z7eQZnJwXuAMzVOPV/qeEUoSSiWa0wy/02Ovrvsdi0Puop8xkEhvBkLhmAcMNg5+YEvsC7Fk/cvYfAYI3iQiz3cgH4ynT0liK40El5KJ7Z32RcA4tPfKL/uO9CGGKIy31oNbgI94QEpiuXFpCY=

install:
  - python3 -m pip install --prefer-binary -r dev_requirements.txt -r requirements.txt

matrix:
  include:
    - name: "Linux - Python 3.7-dev - Cython compilation"
      stage: build
      os: linux
      python: 3.7-dev
      language: python
      script:
        - python3 setup.py build_ext --inplace

    - name: "Linux - Python 3.7-dev - Python sources"
      stage: test
      os: linux
      python: 3.7-dev
      language: python
      script:
        - pytest --cov=. --cov-config=.coveragerc --durations=0 -rw tests
      after_success:
        - if [ $TRAVIS_PULL_REQUEST == "false" ]; then coveralls; fi

    - name: "Linux - Python 3.7-dev - Installed"
      stage: test
      os: linux
      python: 3.7-dev
      language: python
      script:
        - python3 setup.py install
        - rm -rf $PACKAGE_FOLDER
        - pytest tests

    - name: "Linux - Python 3.7-dev - Deploy"
      stage: deploy
      script:
        - ls
      deploy:
        - provider: pypi
          user: "__token__"
          password:
            secure: HHlsEgI/sKI1iG5y571xXlokPZN6nwT4wCeG1oLFX6gEJTMnyWDq8wSiqaaIiOMcs6MWA/pQI6wf4yL0a2lXZMiNQIEC+Q64Iln1leNBXbDDsNYXPHPhsb2ZIPkVf2PFFIUCp+7kNQk7+h/5Px3wmoLs2WZbqy2vMHA4fGKwA3/xrwbjovQTJbDkonyZPzPCo30jsbl5jH/IzH1Lv2hn1xK7yS2w3y+iSV9tj2Wchcfz18OAVrb59PgaQptEzlKqujP6Khj6qV+04cTldzYh2Vd0kyYlSxmSN57EKYVyZfUkXCLm/AcJ55YfNwbrGslmPC/0g8rbmlMVGwB9cHQwBLARu3QwJZ7wW1PDiCXvJ2BTbeihh8dzOneGkgwfOe3HXD1F/7zA0I4NOuucPhcyD+EA3XVzFhNSqCOrK1E9D8pMqxn3c08+ORazdcebVojF7OAODxDOt1cldPwRjjflZ2AV6vOpZZvSKq43A9n3aXDnyTmzJF5y/Q1RjdmAgqb/bCchtUQ3COq5RA7BWtYCWnZURWy3lnjBB99G24v3dR2d1L730mjN72AIqx86bvKYU7YEiwz0ZTzlWaSXUjz78I7oDkYHuQwEnEeQ8AdA78+IJU3/lgac2XuRjkVr4MDwfJm52Y1GrayOC+JvFj9axVA6jgKOfk0WSN0qZwsTim8=
          skip_cleanup: true
          distributions: "sdist"
          on:
            repo: $GH_REPO
            branch: $DEPLOY_BRANCH
            tags: true
            condition: $TRAVIS_OS_NAME = 'linux'
        - provider: script
          script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:i686 "i686" "cp37-cp37m" "cp37"
          skip_cleanup: true
          skip_existing: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"
        - provider: script
          script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:x86_x64 "x86_64" "cp37-cp37m" "cp37"
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"
